@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#btn-group {
  display: flex;
  margin: 0 auto;
  width: 70%;
  margin-top: 2vh;
}

.navbar {
  background-color: blue;
  height: 7vh;
  font-size: large;
}

h1 {
  padding-top: 10%;
  margin-left: 7%;
  margin-bottom: 0 !important;
}

#mini-title {
  color: rgba(34, 34, 34, 0.63);
  margin-left: 7%;
  padding-top: 0;
}

p {
  margin-left: 7%;
}

body {
  background: linear-gradient(to left, #4a90e2, #ffffff 60%);
}

#user {
  margin-left: 7%;
}

.card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  background-color: transparent;
  /* Fundo transparente */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Texto para manter visível no fundo branco */
.card h3,
.card p {
  transition: color 0.3s;
}

/* Efeito de Hover */
.card:hover {
  background-color: white;
  /* Preenche com branco */
  transform: scale(1.1);
  /* Aumenta o tamanho */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adiciona sombra */
}

/* Mantém o texto colorido no hover */
.card:hover h3,
.card:hover p {
  color: inherit;
}