<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>

    <!-- CSS -->
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

        * {
            font-family: "Poppins", sans-serif;
        }

        #btn-group {
            display: flex;
            margin: 0 auto;
            width: 70%;
            margin-top: 2vh;
        }

        .navbar {
            background-color: blue;
            height: 7vh;
            font-size: large;
        }

        body {
            background: linear-gradient(to left, #4a90e2, #ffffff 60%);
        }

        #user {
            margin-left: 7%;
        }

        .container {
            margin-top: 20px;
        }

        .progress-container {
            width: 80%;
            margin: 20px auto;
            text-align: center;
        }

        .progress-bar {
            background-color: #4caf50;
            height: 30px;
            border-radius: 5px;
            transition: width 1s ease-in-out;
            color: white;
            text-align: center;
            line-height: 30px;
        }

        .progress-wrapper {
            width: 100%;
            background-color: #ddd;
            border-radius: 5px;
            overflow: hidden;
        }
    </style>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- GRAFICOS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="/img/sus.png" alt="logo" width="80" class="d-inline-block align-text-top"
                    style="margin-right: 15px" />
                <a class="navbar-brand" href="/main">Hospital do João </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cadastro
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/lab/cadastrar">Cadastrar Laboratório</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/paciente/cadastrar">Cadastrar Paciente</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/exame/cadastrar">Cadastrar Exame</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Banco de Dados
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/lab/listar">Listar Laboratórios</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/paciente/listar">Listar Pacientes</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/exame/listar">Listar Exames</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Relatórios </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/relatorio">Gerar Relatório</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/relatorio/kanban">Kanban</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <a th:href="@{/logout}" class="btn btn-danger">Sair</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container d-flex">
            <div class="col-5 d-flex align-items-center">
                <div class="progress-container">
                    <h2>Total de Usuários Cadastrados: <span th:text="${totalUsuarios}">34</span></h2>
                    <!-- Barra de progresso para homens -->
                    <div class="mt-3">
                        <label for="progressHomens"><strong>Homens:</strong></label>
                        <div class="progress" style="height: 25px;">
                            <div class="progress-bar bg-primary" role="progressbar"
                                th:style="'width: ' + ${porcentagemHomens} + '%'" th:text="${porcentagemHomens + '%'}">
                            </div>
                        </div>
                    </div>

                    <!-- Barra de progresso para mulheres -->
                    <div class="mt-3">
                        <label for="progressMulheres"><strong>Mulheres:</strong></label>
                        <div class="progress" style="height: 25px;">
                            <div class="progress-bar bg-danger" role="progressbar"
                                th:style="'width: ' + ${porcentagemMulheres} + '%'"
                                th:text="${porcentagemMulheres + '%'}">
                            </div>
                        </div>
                    </div>
                    <a href="/admin/cadastrarUsuario">
                        <button class="btn btn-primary mt-3">Novo Cadastro</button>
                    </a>
                    <div data-aos="zoom-in" th:if="${success}"
                        class="d-flex justify-content-center align-items-center mt-3" role="alert">
                        <h6 th:text="${success}" style="color: green;"></h6>
                    </div>

                    <div data-aos="zoom-in" th:if="${erro}"
                        class="d-flex justify-content-center align-items-center mt-3" role="alert">
                        <h6 th:text="${erro}" style="color: red;"></h6>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="container">
                    <canvas id="meuGrafico"></canvas>
                </div>
            </div>
        </div>


        <div class="container table-responsive">
            <h1 style="text-align: center;">Gerenciar Usuários</h1>
            <div class="mb-3">
                <form style="display: flex; justify-content: center; margin-top: 1vh;" th:action="@{/admin-dashboard}"
                    method="get">
                    <input style="width: 80%;" type="text" id="search-input" name="busca" class="form-control"
                        placeholder="Pesquisar Usuários..." />
                    <button style="margin-left: 2vh;" class="btn btn-primary" type="submit">Pesquisar</button>
                </form>
            </div>

            <table class="table table-hover table-bordered table-striped table-rounded">
                <tr id="first-line">
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Tipo do Usuário</th>
                    <th>Ações</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.cpf}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.role == 'ADMIN' ? 'Administrador' : 'Cliente'}"></td>
                    <td id="action-btn">
                        <a th:href="@{/admin/gerenciar/{id}(id=${usuario.id})}">
                            <button id="btn" type="button" class="btn btn-danger">
                                Gerenciar Usuário
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </main>



    <script th:inline="javascript">
        AOS.init();

        // Dados passados pelo Thymeleaf
        var arrayJs = /*[[${valores}]]*/[];

        // Configuração do gráfico
        const ctx = document.getElementById('meuGrafico').getContext('2d');
        new Chart(ctx, {
            type: 'bar', // Tipo do gráfico
            data: {
                labels: ['Laboratórios', 'Pacientes', 'Exames'],  // Rótulos
                datasets: [{
                    label: 'Cadastros',
                    data: arrayJs,  // Passando os dados para o gráfico
                    backgroundColor: [
                        'rgba(99, 167, 255, 0.5)', // Azul suave
                        'rgba(72, 207, 173, 0.5)', // Verde menta
                        'rgba(255, 193, 97, 0.5)'  // Laranja claro
                    ],
                    borderColor: [
                        'rgba(99, 167, 255, 1)',
                        'rgba(72, 207, 173, 1)',
                        'rgba(255, 193, 97, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y', // Gráfico horizontal
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
</body>

</html>